@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
}

[epub|type~="z3998:salutation"] [epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

#chapter-61 blockquote{
	text-align: center;
}

#chapter-61 blockquote b{
	display: inline-block;
	font-size: x-large;
	margin-bottom: .5em;
	margin-top: .5em;
	text-transform: uppercase;
}

#chapter-61 blockquote b.border{
	border-bottom: 3px double;
}

#chapter-61 blockquote b + br + b{
	margin-top: 0;
}
